<!--this is user edit  page 
<%= @user.inspect%> -->

<h1 class="text-center mt-4"> Edit User </h1>
<%= render 'form'%> 

<!-- 
While updating user data if password does not exist when we update data without filling password it gives error
if user password already exist when we update data without filling password it won't give error
-->